*{
  margin: 0;
  padding: 0;
}
body{

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #d8ffdd;
  background-color: #1b1c22;
  font-family: "Cause", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 18px;
}

.container{
  background-color: #808080;
  color: wheat;
  width: 60vw;
  height: 75vh;
  margin: 3% auto;
  padding: 2rem;
  border-radius: 3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#heading{
  text-align: center;
  margin: 4% auto;
}
.add-text{
  width:55vw ;
  height: 3rem;
  background-color: white;
  display: flex;
  /* padding: 0.25rem 1rem; */
  justify-content: space-between;
  border-radius: 2rem;
}

.add-text input{
  padding-left: 2rem;
  padding-top: 0.5rem;
  border: none;
  background: none;
  height: 2rem;
  font-size: 1.05rem;
  width: 50vw;
  outline: none;
  text-align:left;
  color:#494949;
}
.add-text button{
  padding: 0.5rem 1.15rem;
  color: white;
  background-color: #ff5d73;
  font-size: 1rem;
  border: none;
  border-radius: 2rem;
  width: 10rem;
}
.add-text button:hover{
  cursor: pointer;
  opacity: 0.9;
}
.add-text button:active{
  opacity: 0.7;
}
.task-box{
  margin-top: 2rem ;
  padding: 2rem;
  list-style-type: none;
  width:55vw ;
  height: 55vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2rem;
  row-gap: 0.5rem;
  background-color: #494949;
 
}
.task-box li{
  border-radius: 2rem ;
  width:45vw ;
  height: 3rem;
  font-size: 1.05rem;
  text-align: left;
  margin-top: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #fff;
  color: #802f3a;
  font-weight: 600;
}
.task{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.task img{
  width: 2rem;
  margin-right: 0.5rem;
  border-radius: 50%;
}
.task-content{
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}
.remove-task {
  color: #000000;
  background: none;
  border: none;
  padding: 3px 6px;
  border-radius: 50%;
  font-size: 1.1rem;
  transition: all 400ms;
}
.remove-task:hover{
  cursor: pointer;
  background-color: rgba(138, 138, 138, 0.438);
}
.checked .task-text {
  text-decoration: line-through;
  opacity: 0.6;
}
.checked img {
  content: url("./src/checked.png");
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.647);
  display: none;  /* hidden by default */
  justify-content: center;
  align-items: center;
}

.popup-box {
  /* background-color: #0000003e; */
  border-radius: 1rem;
  text-align: center;
  width: 280px;
  height: 320px;
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: end;
  /* box-shadow:  0 4px 18px rgba(128, 128, 128, 0.804); */


}
.popup-box img{
  width: 280px;
  border-radius: 1rem ;
}
#popup-close {
  text-align: center;
  width: 30px;
  height: 30px;
  margin: 0;
  background: #c34757;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
